<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    <title>Chest X-Ray Analysis</title>
</head>
<body>
    <header>
        <a href="/" class="home-icon">🏠</a>
    </header>
    <main>
        <div class="container">
            <div class="content">
                <h1>Chest X-Ray Analysis</h1>
                <div class="buttons">
                    <a href="/classify" class="btn">Classify Images</a>
                    <a href="/generate" class="btn">Generate Images</a>
                </div>
            </div>
            <div class="image-container">
                <img src="{{ url_for('static', filename='imgs/xray-image.jpg')}}" alt="Chest X-Ray" />
            </div>
        </div>
    </main>
</body>
</html>